button{
    border: none;
}

.note-input-btn {
    padding: 10px;
    background-color: #3E4E50;

}

.add-modal-btn {
    padding: 12px 11px 13px 16px;
    border-radius: 11px;
    background-color: #3E4E50;
}

.logout-btn {
    background-color: #3E4E50;
    padding: 10px 35px 10px 32px;
    border-radius: 11px;
    color: #ffffff;
}